@font-face {
  font-family: "toutiao";
  src: url('//at.alicdn.com/t/font_2384431_vo4qba4vpbb.eot?t=1614132060227');
  /* IE9 */
  src: url('//at.alicdn.com/t/font_2384431_vo4qba4vpbb.eot?t=1614132060227#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAA7cAAsAAAAAGWQAAA6PAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFCAqiOJsEATYCJANUCywABCAFhGEHgWsbvRQjUrJWgewvD2wydBasP2CYVPSS2j1iELJgjBOgMCg8LKgEUJks9ZGv/btbNjS434dS8sD/vXrfyFwWoJxPmSA5HoJ0TJq8qVbFYnlbQb5FZ+7c/2DiIY1CQKJPKxryGneITe0ukMkRaTsgNUk6M0Mm6nmBf4d/R2LzaJla24m/TQi8qM3nn7b5j6PqoNWNM/OsRIw6IwobsRcFRi4Ll9GwqMA3c4DAYX/T749tFEJ1yW9v+ekpBEofTfog6XInlL4ECJj7a+3V/hVB9S8qdieDjoSLVbuf37sX2PCG+C6ICkugOjGyQt0W74p3ZZYkKytchVQVyhdqrbGYfw+VmuLRCAHmJodp61hqIVUBfhuPJiBNq0LYDhnFgEYEDQNr9osXzgaNhDZCYgWmSYXcMSP4GnAy8UXH24AX98+HPzAPjQBFMgEtzG7B4Hmg37fwWwoTHgmmYU8BpbLTWN+NJKRARuEqtPcSYDcoXNuF9eJ2OQq2fM5HJZ+wk5U1kZGxgOGL/8CTFM2wHC+IkqyoqYaEKtCWtRFhsQMTPmEqI5cYyhjiIBkJECRBkAJBGgQZEGRBkANBHgQFEBRBUAJBGQQVEFRBUANBnWSRNEBqNAGkGn9nzHACQGVDqv+0xje3N2NTr9fit15LTjLL4doQax9BTlMh/AiYCrjGYpjjcARdugfZYR48Lg/EQ1qiDcGAgnR3Q2OG3ZCMr32EAhFBuPIybLPB5g41wBB0w8Yoz3k9LugPNLz0wCbCGAksOEz9x0OwmUL3cZgm47IsDut10S0030JdpnRqvrpKpQidxrbd6oKO3Cieu2CeY2d2MKH5sN32UOJStsKhksQVuwpDaxfqIk1rEjlvgVWNVARq/rxqlCr7Fs4HX9SvvSC47fx1hGzOarPvOomkZkoIgPffKBRPA8ddJuCVTxdN3b4JE30EjrTgJFKJI5dT9r1n81D36U3VTMHeiiwTyhCEfHLvzvyZuSlDrKnOiaeFzGZbE7mnz5qUI9kByQ+Ggq4jZ4rxrbWd3cfry5zb6ma55UwBaAfRYNy4a7ZLqoHQDb5ptIWQdVFDSFIElZiuhhNyKgojNVI6fy7vc8v10CnWFRNwJh8P1xLEJIguW5XONmC5V8R3mINcs1ZK9AJN7LbIGYGcN18V0mhpNstmTca0OMvm35rYwtLzPLbNW9Zmiea0qCFTrBoOKWhmLugfASI3Ve3ayJvr3uREeIfolAFZ5ZlJONBU08FmS5yVnRL5bBbaBAHcvTkKhWyhbA9DQmAKGTKXIqj35XZM6T2vz8LlWpLmXMdulTq33+6ae/RmCR670SkpNk0ZRc5IDcopzoiHMwG3rFIsr+ud+xyCHzFKnJwhnJHqxNPHT7KhtHRKrJf3sr74PtEwLZTSANxlZAPCVlY8rIzMcwzsMctrqEVrgS0fi8EpSzK7TZalRKmgNnuO4FyBd7EJN80tF81yfFqBdyIZnLusIZ7NSItEy+CGQ5OQdHNVVVC4lUURsjsJaZpYRXnYtkKqK8Si9URLmoQ0yShTJIV0qFNO83qki6MjVjq1r4jXaS6ybfvppnzKx0dPyycL2IaGTZzcGstnFIoN7zlxpJrTSCYejOczNuxn4rHUYOsDMq9vlgNswijkItuzc7ZVc8lT883VQY43drfgakZyjtnSeoG00JxlFJIB1CtF8bqPZzNyS94QZ+glc0LkOG7Z+EBeMDPtfQvZeVw7lgkyykRYwrOqQM4pL4jvDzJj8CVWxs8ItXK9WLfk7XFKKJPw3eY3W19yEsN24XaVSvn0yDKTCX9Im+clP5vNjlcJ2YjQljWJu2j2Wj6yYRPyEk1SQtR6Vdaj9IagSEcKLW4wUkOWGhKhm4Ty82PnOnuPX9jQU89hWes9muYrihbZA21bzrLn2HBBgaqQKyeU0qKVtRLh0EU46XkXCc6b7CWRaEq+16fPLRw0XaKT71tUo+nc1EmA36X9s5SZ+FznrGkSPSdZE8pPB2YnMtH8ypzZzjl4UHq7uDiWH7vhj5sIvaMxhwp4y/8+p+62hiDZ5rdbXaRN2JWmp+2yaFmZbhBEIpNvmiRDJGrzJ8XMTh7sozpheVcEWN9y9nd89hvW/JoJat8BDRx3VYNUx74bDuvzyjkbnms/0cGsWs3AixxYvRIyXO5zG3IWLfziiz8hNPcmTYaqzL/Aon3ckiGkt+kkujb6w1/b2oehW5ae/gVvyRBzXIP093SWI2TZe3+d+WpJYNgTWq2hucH8k/0njVZj/+0eInfQOIA8t2menoP5C7+VVgN6VdSlrPtUOdu8GUojRF+eK3KDnKg5VjRaw2Vzh9Xn0B7eT/7zaL/p9PZJ6TO8i7U/SeNWQCuSsKnNk9IIToXsk5Cprh7eRu0QEvmRoUlPX7WMgXC0Xl7Hny199VfNgzBjQuhFh4uh9ogfuDPe7RFOEDJYMF4YHCgCrQeGbeDqoSdQn7MBvTz3uPy23QYkHVjdsfLFwqa/3DvXMuIUkvM3B1CTB0MauYfVTf4W3awesuA4697LZoNvPORP2ujJYAQ6IRinFKebIWZp20y2KRgII8LsbBj1zLONsbEUhLL6VSaqm09jrd1psIpi9sTF9kp66e6RWOS79fL08uqRIixQ+85iaHYnQ0lRtugqRJW8jeVomVlZ6q5CB6uCAXj/AbgfHrhaBghSBw4scv3uybMUMRcsWdJLRaQ9PWqFu+odHUw7HOkUaaN1cnYidHPpvF7oZqKazjad5zSP14NWt7HEXF0X5DzovG3AadBp68DMdxA8asnj5vGylhY0Hk3cHENoXEtr9cHNMyF/KLbTp0rp3TkXkeKlObutsf6ZKI7Gt7Qo5FL4/q5e9afR2oMXVqnaG1SAPkFFjmhQc6894sQyDTdirhmYOOfhjRnYjNBPxGT4MxUjGMVw8ki7EkqzokndoFY0U6pNPGcUqdTl5G2HTMWgjRZ6r3mMVIPRWz6GfzcW+Oxgl0c3Bg8J7lzWBDbXhMuecHuGP8E7hMX9/VWQEhroh6r+3ikrgOGnt2zVENSydevy8EQLrsogXKnELQ5VKacOTsyXVYdbt/+L0qF8VUg5MKCEKghDQ4TyTLwJoCvYeDYWKimBYodc5AWxkLDRbeeBsMhIwZBgxcOOJceJQ0Tf5GPYk5HyG3fvscvZ92yWS7/Cnzue+To99Yk271FyYz5jyLl8xscMTy9nGCh9jsRUzPJliU14fz9G3z6w8b792RbmzSTmUH2p8xuYv188j1L2aTFCBPcnFyw18bEzyoytu74s+bi1+oMVoV5pWN3hUbW60jDp20d/ifPIpt8P32KjzM7oUzjhadyVxte/r6zx42CX3WZWGGb9kf9iabnr8v6dhrilnZH/D/W9NfYO9lfUkp/82m0ZN/y+u8tHLT5ayqnTKg1T3UAvsM80jx/HpFhXt4fp2PTjx27dxHyxwUFPH8xuP6xLp1m/JZFGX3f7bDM1Y9myeeShQUvfdw0ViKK7WwEqHg7vVGSkc9IHBy3PmzfXrSOCnj1XDOs/npt4U6cuknhwW4ItbsQtwbUjOBH/+1Hr6dOVAr3AWUwHZLttmHeq/yDv8I0Nt1QXZNlfH7weZumVZFKTTykeAsG11qGh6YIsMAX8nFmUsv8a0A/IPuFJFnL/g7KOJw8Ugaljl1TxwNjxMeQu/6nrubwq2YG48INRlvEZWViBbelFWceXC/fxUkeLfXVtAj2h9fDF53iP4NZDF0DgDhqpSJDNibYJx7I3VHfQopE8FcBhTkdHDpQL7Rzk7wDPVcUg42gbqj2ybRTcqBgrxHN70t+k87WzwIBJWeGQHEJa4pvKloNw4P6S2L+6PTQuL5IdauqWti7fGCJzpuWBInlck4M6kNRmOMTUL7m7wOPV+Q+MaamL6D6GtSy9wxEa6kL5AkwTY0vTUPXukg/XXlV4OPUxjrRFC3nv+HiVSxxoC+XF2J1Q9IVy5HyiyTvEgbh4SutSk/eIPenxLnb8PalT4WTPIuw3dXZdSXRA3pssbWVKmni+/f4hNuk7ngys5wZa5zS1lWYMO/ZnpROoG2eARh81Bq/55aB4Il3u7J4Rjjd2Q4J8SqoTJj9N4j4PfjR7AA1P+JxZssQ5iUMaUIhQEniZQDTyrs7H39m9NtT7mNXDVtUEcJ/DROM9vLbUOFKL6ZH7mOMxYqwddI+Eyoj3UOWoNYXLUNI9WspkvAcC1peJmCKsLPb6I2vWTeVLFu5cGgNCHv2Pchc9lufyqHNYRcsfySEHXs8aDlv0apawCmjGeNHxDoDyr/QKzIJftgr246ZNsCPfmxWcyl/mDTfyFzKH2/gTUTFhwR63sNRR4FVhiXy/qxjONdewen7eajhIi8Gqqd8O1wLj35sDhZzAn1Ti/4mJj9xbua7Mhh32tL+MrQ6g9QUAfiko3EoS+2dPmQVMzlpubDYETlXpz/Oz8ryqIytHH8mTBZRNgAzcTgRAU58ASqANDsGn1WicKCdsaCik1izmFbOUV8VyXovyCiBA+/IqaAh6lTdBSzBwqwuhCXQEGzgOWvijHPIwmCPvJMPyrjA8L1vuRPsvb8DjTjnCdQ1JqG764yWBZrCqXVUwhC7uyg8m4aDpE7xEnU5p53q/kHIgVHVR+eY+ACElD8iTb5idcokG9Z7S40GMpMZEPRguOubxWZYuLLAwNOweBkqAxnZ1S2mt9QODIKfZw9RE+JsCjXwCnoi0FL6LUP0XSHIik8tTaoVKzj5sVNm1CouzidecHOYoE9J8dqC8V0oAcT1NlDEc+sVygxW6BM7oqdRP5lTtonGNw9gHwD60b07lAIeAhIKGgYWDR0BEQkYpt7yaREZFu9yRrHDxorENNxs0brG9uS4E9FYo6op9uI4BfRR8rILSOIiRLpkkC11zp9F0cnOAS+hmf54BrX6sWUCXXA16CSEu3jIBEzl82YTE4fss8/puUeg0k4XzKmDlWrQ+x5CgdbcD') format('woff2'), url('//at.alicdn.com/t/font_2384431_vo4qba4vpbb.woff?t=1614132060227') format('woff'), url('//at.alicdn.com/t/font_2384431_vo4qba4vpbb.ttf?t=1614132060227') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('//at.alicdn.com/t/font_2384431_vo4qba4vpbb.svg?t=1614132060227#toutiao') format('svg');
  /* iOS 4.1- */
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiaoshouye:before {
  content: "\e603";
}
.toutiaoguanbi:before {
  content: "\e604";
}
.toutiaodianzan2:before {
  content: "\e605";
}
.toutiaogengduo:before {
  content: "\e606";
}
.toutiaoshouji:before {
  content: "\e607";
}
.toutiaopinglun:before {
  content: "\e608";
}
.toutiaoyoujiantou:before {
  content: "\e609";
}
.toutiaosousuo:before {
  content: "\e60a";
}
.toutiaoshanchu:before {
  content: "\e60b";
}
.toutiaofenxiang:before {
  content: "\e60c";
}
.toutiaowenda:before {
  content: "\e60d";
}
.toutiaoyanzhengma:before {
  content: "\e60e";
}
.toutiaoshipin:before {
  content: "\e60f";
}
.toutiaoshoucang:before {
  content: "\e610";
}
.toutiaozuopin:before {
  content: "\e611";
}
.toutiaowuwangluo:before {
  content: "\e612";
}
.toutiaozuojiantou:before {
  content: "\e613";
}
.toutiaowode:before {
  content: "\e614";
}
.toutiaoyuedu:before {
  content: "\e615";
}
.toutiaodianzan:before {
  content: "\e601";
}
.toutiaolishi:before {
  content: "\e602";
}
body {
  background-color: #f5f7f9;
}
.page-nav-bar {
  background-color: #3296fa !important;
}
.page-nav-bar .van-nav-bar__title,
.page-nav-bar .van-icon {
  color: #fff !important;
}
